<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-autoupdate"
	version="0.1.0-dev">
	<name>Autoupdate</name>
	<description>Cordova plugin for automatically updating assets</description>
	<license>MIT</license>
	<keywords>cordova,plugin,autoupdate,hotpatch,assets,js,css</keywords>
	<repo>https://github.com/TapmeMedia/cordova-plugin-autoupdate.git</repo>
	<issue>https://github.com/TapmeMedia/cordova-plugin-autoupdate/issues</issue>
	<engines>
		<engine name="cordova" version=">=3" />
	</engines>

	<js-module src="www/vendor/fetch/fetch.js" name="fetch">
		<runs/>
	</js-module>
	<js-module src="www/AutoUpdate.js" name="AutoUpdate">
		<clobbers target="cordova.plugins.autoupdate" />
	</js-module>

	<dependency id="cordova-plugin-network-information" url="https://github.com/apache/cordova-plugin-network-information.git" commit="r1.0.1" />

	<dependency id="cordova-plugin-file" url="https://github.com/apache/cordova-plugin-file.git" commit="r2.1.0" />
	<dependency id="cordova-plugin-file-transfer" url="https://github.com/apache/cordova-plugin-file-transfer.git" commit="r1.2.0" />
	<!--<dependency id="cordova-plugin-whitelist" url="https://github.com/apache/cordova-plugin-whitelist.git" commit="r1.1.0" />-->
</plugin>
